<div class="query-builder-container mat-elevation-z2">
  <div class="header">
    <mat-icon color="primary">filter_alt</mat-icon>
    <h3>Advanced Query Builder</h3>
  </div>

  <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
    <div formArrayName="conditions" class="conditions-list">
      <div *ngFor="let condition of conditions.controls; let i = index" [formGroupName]="i" class="condition-row">
        <mat-form-field appearance="outline" class="field-select">
          <mat-label>Field</mat-label>
          <mat-select formControlName="field">
            <mat-option *ngFor="let field of availableFields" [value]="field.name">
              {{ field.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="operator-select">
          <mat-label>Operator</mat-label>
          <mat-select formControlName="operator">
            <mat-option *ngFor="let op of operators" [value]="op">{{ op }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="value-input">
          <mat-label>Value</mat-label>
          <input matInput formControlName="value" placeholder="Enter condition value..." />
        </mat-form-field>

        <button
          mat-icon-button
          color="warn"
          type="button"
          (click)="removeCondition(i)"
          matTooltip="Remove Condition"
          class="remove-btn"
        >
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>

    <div class="actions-row">
      <button mat-stroked-button type="button" color="primary" (click)="addCondition()">
        <mat-icon>add</mat-icon>
        Add Condition
      </button>

      <span class="spacer"></span>

      <button mat-flat-button color="primary" type="submit" [disabled]="!queryForm.valid">
        <mat-icon>search</mat-icon>
        Apply Query
      </button>
    </div>
  </form>
</div>
